.header__container,
.header__left {
  background-color: #fff;
  color: rgb(51, 54, 57);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__container {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  a {
    color: #3f3f3f;
  }
}
.header__logo {
  display: block;
  height: 100%;
  background: url(https://cdn.zutjlx.site/image/202301280902592.png) no-repeat
    2px;
  // https://cdn.zutjlx.site/image/202301041731996.png

  background-size: 45px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  // text-transform: uppercase;
  margin: 0;
  padding: 10px 0 10px 30px;
}
.header__right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footers {
  background-color: rgb(250, 250, 252);
  border-top: 1px solid rgb(239, 239, 245);
  height: 100px;
}
.footer-links {
  margin: 1rem 0;
}
.footer-links,
.footer-copyright {
  display: flex;
  margin-top: 10px;
  justify-content: center; /* 水平居中 */
  a {
    color: #3f3f3f;
  }
}
.link {
  margin: 0;
}
.footer-copyright {
  .link {
    margin: 0;
    font-size: 1rem;
    padding: 0;
    line-height: 16px;
  }
  .spe-link {
    color: #1677ff;
    margin-left: 4px;
    line-height: 19px;
  }
}

@media screen and (max-width: 380px) {
  .link {
    margin-left: 10px;
    font-size: 12px;
  }
}
