.linep {
  margin: 18px 0;
  font-size: 14px;
  font-weight: 700;
  color: #555;
  padding-left: 14px;
  height: 16px;
  line-height: 16px;
  position: relative;
}
.linep::before {
  content: "";
  width: 4px;
  height: 16px;
  background: #00aeff;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 0;
}
