.desc {
  color: #aaa;
}
.ant-table-cell-row-hover .desc {
  color: #1677ff;
}
.header {
  width: 100%;
  padding: 2rem;
  background-color: #e9ecef;
}
.containers {
  width: 100%;
  margin: 15px auto;
  text-align: center;
  color: #99ccff;

  .title {
    font-size: 24px;
    margin-bottom: 10px;
    ~ div {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 576px) {
  .containers {
    max-width: 520px;
  }
}
@media screen and (min-width: 768px) {
  .containers {
    max-width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .containers {
    max-width: 1140px;
  }
  .search {
    max-width: 670px;
  }
}
