.tabs-container {
  padding: 15px;
  background-color: #ffffff;
}
.tabs-content {
  max-height: 600px;
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #c3c3c3;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
