@charset 'UTF-8';
$color: #eee;

@function px2rem($px) {
  //rem适配
  @return $px / 75px * 1rem;
  // @return $px / 7.5px*1vw;
}
// @function vw($px) {  vw适配
//     @return ($px / 750) * 100vw;
// }
html {
  width: 100%;
  background-color: $color;
  height: 100%;
  // 禁用文字选中
  user-select: none;
  overflow-x: scroll;
  overflow-y: scroll;
  // 隐藏滚动条
  &::-webkit-scrollbar {
    display: none;
  }
}

img {
  // 禁止拖动图片
  -webkit-user-drag: none;
}

@media screen and (max-width: 576px) {
  html {
    width: 576px;
  }
}
